USE [master]
GO
/****** Object:  Database [QuanLySieuThi]    Script Date: 11/2/2024 11:50:34 AM ******/
CREATE DATABASE [QuanLySieuThi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySieuThi', FILENAME = N'D:\PROGRAM\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLySieuThi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLySieuThi_log', FILENAME = N'D:\PROGRAM\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLySieuThi_log.ldf' , SIZE = 3200KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySieuThi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySieuThi]
GO
/****** Object:  Table [dbo].[BangLuong]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangLuong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaBangLuong] [varchar](30) NULL,
	[ThangNam] [datetime] NULL,
	[TongGioCong] [float] NULL,
	[Luong] [float] NULL,
	[idNhanVien] [int] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_BangLuong_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaLam]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLam](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaCaLam] [varchar](30) NULL,
	[TenCaLam] [nvarchar](100) NULL,
	[GioBatDau] [nvarchar](100) NULL,
	[GioKetThuc] [nvarchar](100) NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_CaLam] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaChiNhanh] [varchar](30) NULL,
	[TenChiNhanh] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](10) NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBangLuong]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBangLuong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaChiTietBangLuong] [varchar](30) NULL,
	[SoGioCongThucTe] [float] NULL,
	[NgayLam] [datetime] NULL,
	[idBangLuong] [int] NULL,
	[idLichLam] [int] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_ChiTietBangLuong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SoLuong] [int] NULL,
	[idHoaDon] [int] NULL,
	[idSanPham] [int] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[idPhieuNhap] [int] NULL,
	[idSanPham] [int] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_ChiTietPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [varchar](30) NULL,
	[NgayLapHD] [datetime] NULL,
	[GioLapHD] [datetime] NULL,
	[TongTien] [float] NULL,
	[ThanhTien] [float] NULL,
	[idKhachHang] [int] NULL,
	[idKhuyenMai] [int] NULL,
	[idNhanVien] [int] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [varchar](30) NULL,
	[TenKhachHang] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](10) NULL,
	[Diem] [float] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoHang]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SoLuong] [int] NULL,
	[idSanPham] [int] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_KhoHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaKhuyenMai] [varchar](30) NULL,
	[TenKhuyenMai] [nvarchar](100) NULL,
	[GiaTri] [float] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichLam]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichLam](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaLichLam] [varchar](30) NULL,
	[NgayLam] [datetime] NULL,
	[idNhanVien] [int] NULL,
	[idCaLam] [int] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_LichLam] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaLoaiHang] [varchar](30) NULL,
	[TenLoaiHang] [nvarchar](100) NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_NhomHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNhanVien]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNhanVien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaLoaiNhanVien] [varchar](30) NULL,
	[TenLoaiNhanVien] [nvarchar](100) NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_LoaiNhanVien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[log_name] [varchar](100) NULL,
	[model] [varchar](100) NULL,
	[model_id] [int] NULL,
	[data_olds] [varchar](100) NULL,
	[data_news] [varchar](100) NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaNhaCungCap] [varchar](30) NULL,
	[TenNhaCungCap] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](10) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [varchar](30) NULL,
	[TenNhanVien] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](10) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[idLoaiNhanVien] [int] NULL,
	[idTaiKhoan] [int] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap] [varchar](30) NULL,
	[NgayNhap] [datetime] NULL,
	[ThanhTien] [float] NULL,
	[idNhanVien] [int] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [varchar](30) NULL,
	[TenSanPham] [nvarchar](100) NULL,
	[DonViTinh] [nvarchar](100) NULL,
	[DonGia] [float] NULL,
	[NgaySanXuat] [datetime] NULL,
	[HanSuDung] [datetime] NULL,
	[AnhSanPham] [varbinary](max) NULL,
	[idLoaiHang] [int] NULL,
	[idNhaCungCap] [int] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaTaiKhoan] [varchar](30) NULL,
	[TenTaiKhoan] [varchar](100) NULL,
	[MatKhau] [varchar](100) NULL,
	[Quyen] [int] NULL,
	[is_deleted] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangLuong] ON 

INSERT [dbo].[BangLuong] ([id], [MaBangLuong], [ThangNam], [TongGioCong], [Luong], [idNhanVien], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'BL001', CAST(N'2024-09-01T00:00:00.000' AS DateTime), 176, 15000000, 1, 0, 0, CAST(N'2024-11-02T11:48:49.293' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.293' AS DateTime))
INSERT [dbo].[BangLuong] ([id], [MaBangLuong], [ThangNam], [TongGioCong], [Luong], [idNhanVien], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'BL002', CAST(N'2024-09-01T00:00:00.000' AS DateTime), 160, 14000000, 2, 0, 0, CAST(N'2024-11-02T11:48:49.293' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.293' AS DateTime))
INSERT [dbo].[BangLuong] ([id], [MaBangLuong], [ThangNam], [TongGioCong], [Luong], [idNhanVien], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'BL003', CAST(N'2024-09-01T00:00:00.000' AS DateTime), 144, 13000000, 3, 0, 0, CAST(N'2024-11-02T11:48:49.293' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.293' AS DateTime))
SET IDENTITY_INSERT [dbo].[BangLuong] OFF
GO
SET IDENTITY_INSERT [dbo].[CaLam] ON 

INSERT [dbo].[CaLam] ([id], [MaCaLam], [TenCaLam], [GioBatDau], [GioKetThuc], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'CL01', N'Ca Sáng', N'06:00', N'14:00', 0, 1, CAST(N'2024-11-02T11:48:49.240' AS DateTime), 1, CAST(N'2024-11-02T11:48:49.240' AS DateTime))
INSERT [dbo].[CaLam] ([id], [MaCaLam], [TenCaLam], [GioBatDau], [GioKetThuc], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'CL02', N'Ca Chiều', N'14:00', N'22:00', 0, 1, CAST(N'2024-11-02T11:48:49.240' AS DateTime), 1, CAST(N'2024-11-02T11:48:49.240' AS DateTime))
INSERT [dbo].[CaLam] ([id], [MaCaLam], [TenCaLam], [GioBatDau], [GioKetThuc], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'CL03', N'Ca Đêm', N'22:00', N'06:00', 0, 1, CAST(N'2024-11-02T11:48:49.240' AS DateTime), 1, CAST(N'2024-11-02T11:48:49.240' AS DateTime))
SET IDENTITY_INSERT [dbo].[CaLam] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiNhanh] ON 

INSERT [dbo].[ChiNhanh] ([id], [MaChiNhanh], [TenChiNhanh], [DiaChi], [SoDienThoai], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'CN001', N'Chi Nhánh Hà Nội', N'Số 1 Đường A, Hà Nội', N'0123456789', 0, 0, CAST(N'2024-11-02T11:48:49.937' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.937' AS DateTime))
INSERT [dbo].[ChiNhanh] ([id], [MaChiNhanh], [TenChiNhanh], [DiaChi], [SoDienThoai], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'CN002', N'Chi Nhánh Hồ Chí Minh', N'Số 10 Đường B, Hồ Chí Minh', N'0987654321', 0, 0, CAST(N'2024-11-02T11:48:49.937' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.937' AS DateTime))
INSERT [dbo].[ChiNhanh] ([id], [MaChiNhanh], [TenChiNhanh], [DiaChi], [SoDienThoai], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'CN003', N'Chi Nhánh Đà Nẵng', N'Số 15 Đường C, Đà Nẵng', N'0912345678', 0, 0, CAST(N'2024-11-02T11:48:49.937' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChiNhanh] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietBangLuong] ON 

INSERT [dbo].[ChiTietBangLuong] ([id], [MaChiTietBangLuong], [SoGioCongThucTe], [NgayLam], [idBangLuong], [idLichLam], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, NULL, 8, CAST(N'2024-09-01T00:00:00.000' AS DateTime), 1, 101, 0, 0, CAST(N'2024-11-02T11:48:49.310' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.310' AS DateTime))
INSERT [dbo].[ChiTietBangLuong] ([id], [MaChiTietBangLuong], [SoGioCongThucTe], [NgayLam], [idBangLuong], [idLichLam], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, NULL, 8, CAST(N'2024-09-02T00:00:00.000' AS DateTime), 1, 102, 0, 0, CAST(N'2024-11-02T11:48:49.310' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.310' AS DateTime))
INSERT [dbo].[ChiTietBangLuong] ([id], [MaChiTietBangLuong], [SoGioCongThucTe], [NgayLam], [idBangLuong], [idLichLam], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, NULL, 8, CAST(N'2024-09-03T00:00:00.000' AS DateTime), 1, 103, 0, 0, CAST(N'2024-11-02T11:48:49.310' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.310' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChiTietBangLuong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([id], [SoLuong], [idHoaDon], [idSanPham], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, 5, 3, 7, 0, 0, CAST(N'2024-11-02T11:48:49.287' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.287' AS DateTime))
INSERT [dbo].[ChiTietHoaDon] ([id], [SoLuong], [idHoaDon], [idSanPham], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, 2, 1, 4, 0, 0, CAST(N'2024-11-02T11:48:49.287' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.287' AS DateTime))
INSERT [dbo].[ChiTietHoaDon] ([id], [SoLuong], [idHoaDon], [idSanPham], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, 7, 4, 1, 0, 0, CAST(N'2024-11-02T11:48:49.287' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.287' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] ON 

INSERT [dbo].[ChiTietPhieuNhap] ([id], [SoLuong], [DonGia], [idPhieuNhap], [idSanPham], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, 10, 15000, 1, 1, 0, 1, CAST(N'2024-11-02T11:48:49.233' AS DateTime), 1, CAST(N'2024-11-02T11:48:49.233' AS DateTime))
INSERT [dbo].[ChiTietPhieuNhap] ([id], [SoLuong], [DonGia], [idPhieuNhap], [idSanPham], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, 20, 20000, 2, 2, 0, 1, CAST(N'2024-11-02T11:48:49.233' AS DateTime), 1, CAST(N'2024-11-02T11:48:49.233' AS DateTime))
INSERT [dbo].[ChiTietPhieuNhap] ([id], [SoLuong], [DonGia], [idPhieuNhap], [idSanPham], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, 15, 30000, 3, 3, 0, 1, CAST(N'2024-11-02T11:48:49.233' AS DateTime), 1, CAST(N'2024-11-02T11:48:49.233' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([id], [MaHoaDon], [NgayLapHD], [GioLapHD], [TongTien], [ThanhTien], [idKhachHang], [idKhuyenMai], [idNhanVien], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'HD001', CAST(N'2024-11-02T11:48:49.273' AS DateTime), CAST(N'2024-11-02T11:48:49.273' AS DateTime), 0, 0, 1, 5, 3, 0, 0, CAST(N'2024-11-02T11:48:49.273' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.273' AS DateTime))
INSERT [dbo].[HoaDon] ([id], [MaHoaDon], [NgayLapHD], [GioLapHD], [TongTien], [ThanhTien], [idKhachHang], [idKhuyenMai], [idNhanVien], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'HD002', CAST(N'2024-11-02T11:48:49.273' AS DateTime), CAST(N'2024-11-02T11:48:49.273' AS DateTime), 0, 0, 1, 6, 7, 0, 0, CAST(N'2024-11-02T11:48:49.273' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.273' AS DateTime))
INSERT [dbo].[HoaDon] ([id], [MaHoaDon], [NgayLapHD], [GioLapHD], [TongTien], [ThanhTien], [idKhachHang], [idKhuyenMai], [idNhanVien], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'HD003', CAST(N'2024-11-02T11:48:49.273' AS DateTime), CAST(N'2024-11-02T11:48:49.273' AS DateTime), 0, 0, 1, 4, 2, 0, 0, CAST(N'2024-11-02T11:48:49.273' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([id], [MaKhachHang], [TenKhachHang], [SoDienThoai], [Diem], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'KH00', N'Khách vãng lai', N'0123456789', 0, 0, 0, CAST(N'2024-11-02T11:48:49.210' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.210' AS DateTime))
INSERT [dbo].[KhachHang] ([id], [MaKhachHang], [TenKhachHang], [SoDienThoai], [Diem], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'KH01', N'Hồ Nhật Tâm', N'0123456789', 100, 0, 0, CAST(N'2024-11-02T11:48:49.210' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.210' AS DateTime))
INSERT [dbo].[KhachHang] ([id], [MaKhachHang], [TenKhachHang], [SoDienThoai], [Diem], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'KH02', N'Trần Hoàng Diệu', N'0123456789', 100, 0, 0, CAST(N'2024-11-02T11:48:49.210' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.210' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhoHang] ON 

INSERT [dbo].[KhoHang] ([id], [SoLuong], [idSanPham], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, 100, 1, 0, 0, CAST(N'2024-11-02T11:48:49.200' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.200' AS DateTime))
INSERT [dbo].[KhoHang] ([id], [SoLuong], [idSanPham], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, 150, 2, 0, 0, CAST(N'2024-11-02T11:48:49.200' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.200' AS DateTime))
INSERT [dbo].[KhoHang] ([id], [SoLuong], [idSanPham], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, 200, 3, 0, 0, CAST(N'2024-11-02T11:48:49.200' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.200' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhoHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([id], [MaKhuyenMai], [TenKhuyenMai], [GiaTri], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'KM001', N'Giảm giá 10%', 10, 0, 0, CAST(N'2024-11-02T11:48:49.257' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.257' AS DateTime))
INSERT [dbo].[KhuyenMai] ([id], [MaKhuyenMai], [TenKhuyenMai], [GiaTri], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'KM002', N'Giảm giá 20%', 20, 0, 0, CAST(N'2024-11-02T11:48:49.257' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.257' AS DateTime))
INSERT [dbo].[KhuyenMai] ([id], [MaKhuyenMai], [TenKhuyenMai], [GiaTri], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'KM003', N'Khuyến mãi đặc biệt', 30, 0, 0, CAST(N'2024-11-02T11:48:49.257' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.257' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[LichLam] ON 

INSERT [dbo].[LichLam] ([id], [MaLichLam], [NgayLam], [idNhanVien], [idCaLam], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'LL01', CAST(N'2024-10-25T00:00:00.000' AS DateTime), 1, 1, 0, 1, CAST(N'2024-11-02T11:48:49.250' AS DateTime), 1, CAST(N'2024-11-02T11:48:49.250' AS DateTime))
INSERT [dbo].[LichLam] ([id], [MaLichLam], [NgayLam], [idNhanVien], [idCaLam], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'LL02', CAST(N'2024-10-25T00:00:00.000' AS DateTime), 2, 2, 0, 1, CAST(N'2024-11-02T11:48:49.250' AS DateTime), 1, CAST(N'2024-11-02T11:48:49.250' AS DateTime))
INSERT [dbo].[LichLam] ([id], [MaLichLam], [NgayLam], [idNhanVien], [idCaLam], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'LL03', CAST(N'2024-10-26T00:00:00.000' AS DateTime), 3, 3, 0, 1, CAST(N'2024-11-02T11:48:49.250' AS DateTime), 1, CAST(N'2024-11-02T11:48:49.250' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichLam] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiHang] ON 

INSERT [dbo].[LoaiHang] ([id], [MaLoaiHang], [TenLoaiHang], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'LH001', N'Rau củ quả', 0, 0, CAST(N'2024-11-02T11:48:49.137' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.137' AS DateTime))
INSERT [dbo].[LoaiHang] ([id], [MaLoaiHang], [TenLoaiHang], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'LH002', N'Đồ uống', 0, 0, CAST(N'2024-11-02T11:48:49.137' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.137' AS DateTime))
INSERT [dbo].[LoaiHang] ([id], [MaLoaiHang], [TenLoaiHang], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'LH003', N'Sữa và các sản phẩm từ sữa', 0, 0, CAST(N'2024-11-02T11:48:49.137' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.137' AS DateTime))
SET IDENTITY_INSERT [dbo].[LoaiHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiNhanVien] ON 

INSERT [dbo].[LoaiNhanVien] ([id], [MaLoaiNhanVien], [TenLoaiNhanVien], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'LNV001', N'Quản lý', 0, 0, CAST(N'2024-11-02T11:48:49.110' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.110' AS DateTime))
INSERT [dbo].[LoaiNhanVien] ([id], [MaLoaiNhanVien], [TenLoaiNhanVien], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'LNV002', N'Nhân viên', 0, 0, CAST(N'2024-11-02T11:48:49.110' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.110' AS DateTime))
INSERT [dbo].[LoaiNhanVien] ([id], [MaLoaiNhanVien], [TenLoaiNhanVien], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'LNV003', N'Giám đốc', 0, 0, CAST(N'2024-11-02T11:48:49.110' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.110' AS DateTime))
SET IDENTITY_INSERT [dbo].[LoaiNhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([id], [log_name], [model], [model_id], [data_olds], [data_news], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'LOG_NAME_01', N'MODEL_01', 1, N'DATA_OLDS_01', N'DATA_NEWS_01', 0, 0, CAST(N'2024-11-02T11:48:49.943' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.943' AS DateTime))
INSERT [dbo].[Log] ([id], [log_name], [model], [model_id], [data_olds], [data_news], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'LOG_NAME_02', N'MODEL_02', 2, N'DATA_OLDS_02', N'DATA_NEWS_02', 0, 0, CAST(N'2024-11-02T11:48:49.943' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.943' AS DateTime))
INSERT [dbo].[Log] ([id], [log_name], [model], [model_id], [data_olds], [data_news], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'LOG_NAME_03', N'MODEL_03', 3, N'DATA_OLDS_03', N'DATA_NEWS_03', 0, 0, CAST(N'2024-11-02T11:48:49.943' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.943' AS DateTime))
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([id], [MaNhaCungCap], [TenNhaCungCap], [SoDienThoai], [DiaChi], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'NCC01', N'LG', N'0123456789', N'23/7 Võ Văn Ngân', 0, 0, CAST(N'2024-11-02T11:48:49.143' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.143' AS DateTime))
INSERT [dbo].[NhaCungCap] ([id], [MaNhaCungCap], [TenNhaCungCap], [SoDienThoai], [DiaChi], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'NCC02', N'LeNoVo', N'0123456789', N'7/11 Hoàng Diệu 2', 0, 0, CAST(N'2024-11-02T11:48:49.143' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.143' AS DateTime))
INSERT [dbo].[NhaCungCap] ([id], [MaNhaCungCap], [TenNhaCungCap], [SoDienThoai], [DiaChi], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'NCC03', N'SamSung', N'0123456789', N'50/7 Trần Phú', 0, 0, CAST(N'2024-11-02T11:48:49.143' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([id], [MaNhanVien], [TenNhanVien], [SoDienThoai], [DiaChi], [idLoaiNhanVien], [idTaiKhoan], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'NV001', N'Nguyễn Văn A', N'0974292158', N'Số 920 đường ABC, Quận 2', 5, 1, 0, 0, CAST(N'2024-11-02T11:48:49.130' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.130' AS DateTime))
INSERT [dbo].[NhanVien] ([id], [MaNhanVien], [TenNhanVien], [SoDienThoai], [DiaChi], [idLoaiNhanVien], [idTaiKhoan], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'NV002', N'Trần Thị B', N'0944077427', N'Số 455 đường ABC, Quận 3', 4, 2, 0, 0, CAST(N'2024-11-02T11:48:49.130' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.130' AS DateTime))
INSERT [dbo].[NhanVien] ([id], [MaNhanVien], [TenNhanVien], [SoDienThoai], [DiaChi], [idLoaiNhanVien], [idTaiKhoan], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'NV003', N'Phạm Văn C', N'0921630367', N'Số 659 đường ABC, Quận 7', 4, 3, 0, 0, CAST(N'2024-11-02T11:48:49.130' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([id], [MaPhieuNhap], [NgayNhap], [ThanhTien], [idNhanVien], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'PN01', CAST(N'2024-10-15T00:00:00.000' AS DateTime), 30000, 1, 0, 0, CAST(N'2024-10-15T00:00:00.000' AS DateTime), 0, CAST(N'2024-10-15T00:00:00.000' AS DateTime))
INSERT [dbo].[PhieuNhap] ([id], [MaPhieuNhap], [NgayNhap], [ThanhTien], [idNhanVien], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'PN02', CAST(N'2024-10-15T00:00:00.000' AS DateTime), 50000, 1, 0, 0, CAST(N'2024-10-15T00:00:00.000' AS DateTime), 0, CAST(N'2024-10-15T00:00:00.000' AS DateTime))
INSERT [dbo].[PhieuNhap] ([id], [MaPhieuNhap], [NgayNhap], [ThanhTien], [idNhanVien], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'PN03', CAST(N'2024-10-15T00:00:00.000' AS DateTime), 300000, 1, 0, 0, CAST(N'2024-10-15T00:00:00.000' AS DateTime), 0, CAST(N'2024-10-15T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([id], [MaSanPham], [TenSanPham], [DonViTinh], [DonGia], [NgaySanXuat], [HanSuDung], [AnhSanPham], [idLoaiHang], [idNhaCungCap], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'SP001', N'Cà chua', N'Kg', 20000, CAST(N'2024-09-01T00:00:00.000' AS DateTime), CAST(N'2024-09-15T00:00:00.000' AS DateTime), NULL, 1, 1, 0, 0, CAST(N'2024-11-02T11:48:49.167' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.167' AS DateTime))
INSERT [dbo].[SanPham] ([id], [MaSanPham], [TenSanPham], [DonViTinh], [DonGia], [NgaySanXuat], [HanSuDung], [AnhSanPham], [idLoaiHang], [idNhaCungCap], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'SP002', N'Dưa leo', N'Kg', 18000, CAST(N'2024-09-03T00:00:00.000' AS DateTime), CAST(N'2024-09-20T00:00:00.000' AS DateTime), NULL, 1, 1, 0, 0, CAST(N'2024-11-02T11:48:49.167' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.167' AS DateTime))
INSERT [dbo].[SanPham] ([id], [MaSanPham], [TenSanPham], [DonViTinh], [DonGia], [NgaySanXuat], [HanSuDung], [AnhSanPham], [idLoaiHang], [idNhaCungCap], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'SP003', N'Cà rốt', N'Kg', 22000, CAST(N'2024-09-05T00:00:00.000' AS DateTime), CAST(N'2024-09-25T00:00:00.000' AS DateTime), NULL, 1, 1, 0, 0, CAST(N'2024-11-02T11:48:49.167' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.167' AS DateTime))
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([id], [MaTaiKhoan], [TenTaiKhoan], [MatKhau], [Quyen], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (1, N'admin', N'admin', N'123456', 0, 0, 0, CAST(N'2024-11-02T11:48:49.100' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.100' AS DateTime))
INSERT [dbo].[TaiKhoan] ([id], [MaTaiKhoan], [TenTaiKhoan], [MatKhau], [Quyen], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (2, N'user', N'user', N'123456', 1, 0, 0, CAST(N'2024-11-02T11:48:49.100' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.100' AS DateTime))
INSERT [dbo].[TaiKhoan] ([id], [MaTaiKhoan], [TenTaiKhoan], [MatKhau], [Quyen], [is_deleted], [created_by], [created_at], [updated_by], [updated_at]) VALUES (3, N'TK001', N'TK001', N'123456', 1, 0, 0, CAST(N'2024-11-02T11:48:49.100' AS DateTime), 0, CAST(N'2024-11-02T11:48:49.100' AS DateTime))
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
ALTER TABLE [dbo].[BangLuong]  WITH CHECK ADD  CONSTRAINT [FK_BangLuong_NhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([id])
GO
ALTER TABLE [dbo].[BangLuong] CHECK CONSTRAINT [FK_BangLuong_NhanVien]
GO
ALTER TABLE [dbo].[ChiTietBangLuong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietBangLuong_BangLuong] FOREIGN KEY([idBangLuong])
REFERENCES [dbo].[BangLuong] ([id])
GO
ALTER TABLE [dbo].[ChiTietBangLuong] CHECK CONSTRAINT [FK_ChiTietBangLuong_BangLuong]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([id])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([id])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap] FOREIGN KEY([idPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([id])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_SanPham] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([id])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_KhoHang_KhachHang] FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_KhoHang_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_KhoHang_KhuyenMai] FOREIGN KEY([idKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_KhoHang_KhuyenMai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_KhoHang_NhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_KhoHang_NhanVien]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [FK_KhoHang_SanPham] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([id])
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [FK_KhoHang_SanPham]
GO
ALTER TABLE [dbo].[LichLam]  WITH CHECK ADD  CONSTRAINT [FK_LichLam_CaLam] FOREIGN KEY([idCaLam])
REFERENCES [dbo].[CaLam] ([id])
GO
ALTER TABLE [dbo].[LichLam] CHECK CONSTRAINT [FK_LichLam_CaLam]
GO
ALTER TABLE [dbo].[LichLam]  WITH CHECK ADD  CONSTRAINT [FK_LichLam_NhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([id])
GO
ALTER TABLE [dbo].[LichLam] CHECK CONSTRAINT [FK_LichLam_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_LoaiNhanVien] FOREIGN KEY([idLoaiNhanVien])
REFERENCES [dbo].[LoaiNhanVien] ([id])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_LoaiNhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([idTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([id])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([id])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap] FOREIGN KEY([idNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhomHang] FOREIGN KEY([idLoaiHang])
REFERENCES [dbo].[LoaiHang] ([id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhomHang]
GO
/****** Object:  StoredProcedure [dbo].[abc]    Script Date: 11/2/2024 11:50:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[abc]
as
GO
USE [master]
GO
